.infobox {
    flex: 1;
    cursor: pointer;
}

/* except for the last child */
.infobox:not(:last-child) { 
    margin-right: 15px;
}

.infobox--selected {
    border-top: 10px solid greenyellow;
}

.infobox--red {
    border-color: red;
}

.infobox__cases--green {
    color: lightgreen !important;
}

.infobox_cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem; 
    margin-bottom: 0.5rem;
}

.infobox_total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important; 
    margin-top: 15px !important;
} 