.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px; 
    color: #6a5d5d;
    background-color: white;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

/* This will give the table data padding */
.table td {
    padding: 0.5rem;
}  

/* This will change the every odd row color */
.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
} 